
html{
    scroll-behavior:smooth;
}
*{
    font-family: "Permanent Marker" , cursive;

    color: rgb(250, 250, 250);
    margin:0px;
    padding: 0px;
    background-color: black;
}

.container{
    padding-top: 0px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    background-color: black;
    
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(  rgba(255, 255, 255, 0.314) , rgb(0, 0, 0) , rgba(255, 255, 255, 0.314));

    border-radius: 100vw;
    border: 7px solid black;
}





/*NavBar*/

.navbar{
    z-index: 9999;
    position: fixed;
    width: 100%;
    margin-bottom: 0px;
    top:0px;
}

.navbar ul{
    list-style-type: none;
    margin-left: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.navbar ul li{
    display: inline-block;
    padding: 20px;
}
.navbar ul li a{
    text-decoration: none;
    padding: 15px;
    letter-spacing: 1px;
}

.navbar a:hover{
    border-bottom: 2px solid white;
    background-color: rgba(82, 80, 80, 0.374);

}








/*Home*/


@keyframes disappear {
    0% {opacity:0%;}
    100% {opacity: 0%;}
}
@keyframes appear {
    0% {opacity:0%;}
    100% {opacity: 100%;}
}







#buy{
    position: relative;top: 30%; left: 10%;
    font-size: 80px;
    text-align: center; 
    height: fit-content;
}
.home{
    height: 100vh;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1612821969256-55c71d64c245?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: top right;
}

.home h1{
    margin-bottom: 10px;
    font-size: 80px;
    width: 45%;
    background: transparent;
}

#home_button{
    animation: name duration timing-function delay iteration-count direction fill-mode;
    position: relative; left: 25%; top: 35%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 75px;
    cursor: pointer;
    background-color: white;
    animation: disappear 6s , appear 1s 6s ease-in ;
}


.htxt a{
    display:contents;
    margin-left: 0px;
    text-emphasis: rgba(255, 255, 255, 0.57);
}

.htxt button:hover{
    background-color: #42424e;
    
    cursor: pointer;
}




/*About Me*/


.atxt{
    padding: 0px;
    width: 750px;
    position: relative; right: -750px; top: 150px;
}
#who{
    
    text-align: center;
    font-size: 80px;
    padding: 0px;
    padding-bottom: 25px;
}
#are{
    font-size: 30px;
}
.about{
    height: 100vh;
    background-color: black;
    background-image: url('car.jpg');
    background-repeat: no-repeat;
    background-size: 700px;
    background-attachment: fixed;
    background-position: left;
}


/*Models*/

.models{
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 100px;
    background-color: black;
}

#stock{
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: 0;
}

.cars{
    height:100vh ;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 6em;
    row-gap: 6em;
}

.pic img{
    width: 350px;
    height: 250px;
    border-radius: 12px;
}

.pic a{
    text-decoration: none;
}

#pic1 h2:hover , h2 #img1:hover{
    color:gray;
    font-size: 40px;
    width: 450px;
    height: 350px;
}
#pic2 h2:hover , h2 #img2:hover{
    color:#627b95;
    font-size: 40px;
    width: 450px;
    height: 350px;
}
#pic3 h2:hover , h2 #img3:hover{
    color:#005e9c;
    font-size: 40px;
    width: 450px;
    height: 350px;
}
#pic4 h2:hover , h2 #img4:hover{
    color:#3a344c;
    font-size: 40px;
    width: 450px;
    height: 350px;
}
#pic5 h2:hover , h2 #img5:hover{
    color:red;
    font-size: 40px;
    width: 450px;
    height: 350px;
}
#pic6 h2:hover , h2 #img6:hover{
    color:#244547;
    font-size: 40px;
    width: 450px;
    height: 350px;
}

/*FAQS*/

.contact{
    height: 100vh;
}

.details{

    position: relative; top: 150px;
    text-align: left;
    padding: 50px;
    
}

.contactUs h1{
    position: relative;top: 100px;
    text-align: center;
    font-size: 50px;
}

.details #h1{
    font-size: 30px;
    margin-bottom: 30px;
}

#phone, #email , #name{
    margin-bottom: 30px;
    background-color: white;
    border: none;
    padding-left: 5px;
}

#message{
    margin-bottom: 30px;
    background-color: white;
    border: none;
    width: 400px; height: 20px;
    overflow: auto;
    color: black;
    resize: none;
    padding-left: 5px;
}

#message::-webkit-scrollbar {
    width: 0px;
}


#submit{
    width: 100px;
    height: 20px;
    cursor: pointer;
    color: white;
}

form input{
    color: black;
}






/* Phone */ 

@media only screen and (max-width: 428px) {
    html{
        background-color: black;
    }
    .htxt{
        width: 60%;
    }
    #buy{
        font-size: 20px;
        border: 2px solid white;
    }
  
}    