*{
    background-color: black;
}
h1{
    color: white;
    text-align: center;

}

.goBack{
    width: 100%;
    text-align: center;
}

button {
    font-size: 15px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: white;
}


